/.vscode
/a.exe
/Armstrong.cpp
/ASCII.cpp
/Calculator.cpp
/CalculatorV2.cpp
/DataTypes.cpp
/DecimalToBinary.cpp
/Example.cpp
/Factorial.cpp
/Fibonacci.cpp
/FormatChangeofn.cpp
/GreatestOfFour.cpp
/HelloWorld.cpp
/Interest.cpp
/KuchBhi.cpp
/MatchStickGame.cpp
/OddEven.cpp
/Palindrome.cpp
/Primenumber.cpp
/RockPaperScissors.cpp
/Salting.cpp
/SCALCULATOR.cpp
/SnakeWaterGun.cpp
/Sumofdigits.cpp
/Tableofn.cpp
/TemperatureConvertor.cpp
/TicTacToe.cpp